:root[data-theme="nuit"] {
  --fond: #0c1024; --fond2: #141a38; --carte: #171c3a; --bord: #323b6e;
  --texte: #dfe3ff; --texte2: #7a83b8; --accent: #8fd0ff; --rouge: #c41e2a;
  --heros-fond: #2a1530; --heros-bord: #c41e2a; --heros-nom: #ff8a96;
  --pnj-nom: #8fd0ff; --dico: #ffd479; --rayon: 8px;
}
