:root[data-theme="rouge"] {
  --fond: #0a0a0a; --fond2: #141414; --carte: #141414; --bord: #333;
  --texte: #e8e8e8; --texte2: #777; --accent: #c41e2a; --rouge: #c41e2a;
  --heros-fond: #1c1014; --heros-bord: #fff; --heros-nom: #fff;
  --pnj-nom: #c41e2a; --dico: #e8b54a; --rayon: 4px;
}
