:root[data-theme="rouge"] {
  --fond: #0a0708; --fond2: #15100f; --carte: #1a1012; --bord: #4a2228;
  --texte: #f0e8e8; --texte2: #a08a8c; --accent: #e23140; --rouge: #c41e2a;
  --heros-fond: #241016; --heros-bord: #e23140; --heros-nom: #ff9aa2;
  --pnj-nom: #e23140; --dico: #e8b54a; --rayon: 3px;
}
