:root[data-theme="nuit"] {
  --fond:#14110D; --fond2:#1B1712; --carte:#1C1A17; --bord:#3A342C;
  --texte:#ECE6DC; --texte2:#A89C88; --accent:#C8A24B; --rouge:#B43A3A;
  --heros-fond:#1F1714; --heros-bord:#B43A3A; --heros-nom:#E0A6A0;
  --pnj-nom:#C8A24B; --dico:#C8A24B; --philemon:#8FB7FF;
  --rayon:2px; --ombre:0 8px 24px rgba(0,0,0,.55); --voile:rgba(0,0,0,.55);
}
